.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/~$ReplicationStudies.xlsx
Data/~$ManyLabs3_Table3.xlsx
Data/~$ReplicationStudiesTrackingDocument.xlsx
Data/EmbargoFolder/
Data/DataProcessingScripts/manylabRs/
Data/RawData/Data Many Labs 1/
~WRL3975.tmp
~WRL0005.tmp
~$fect size adjustment.docx
~$timating the effect of publication bias.docx
temp.rmd
temp.docx
Analysis/stanmodel_multilevel_meta.stan
.RDataTmp
~$yesian Mixture Model Write up.docx
.httr-oauth
OLD_DO_NOT_USE_reproducible_analysis_23_march_2019/
Old/
