.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/~$ReplicationStudies.xlsx
Data/~$ManyLabs3_Table3.xlsx
Data/~$ReplicationStudiesTrackingDocument.xlsx
Data/EmbargoFolder/
Data/DataProcessingScripts/manylabRs/
Data/RawData/Data Many Labs 1/
~WRL3975.tmp
~WRL0005.tmp
~$fect size adjustment.docx
