.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/~$ReplicationStudies.xlsx
Data/~$ManyLabs3_Table3.xlsx
Data/~$ReplicationStudiesTrackingDocument.xlsx
Data/EmbargoFolder/
Data/DataProcessingScripts/manylabRs/
